.page {
    background-color: white;
    font-family: "inter";
    margin-left: 10rem;
    margin-right: 5rem;
    margin-top: 4.3rem;
}
header {
    width: 80rem;
    height: 2.25rem;
}
header img {
    size: 3rem;
    padding: 0.125rem 0rem;
}
header nav a {
    text-decoration: none;
    color: #555555;
    padding-top: 0.6rem;
    padding-bottom: 0.31rem;
    font-size: 1.25rem;
    font-style: normal;
}
header nav a:not(:last-child) {
    margin-right: 1rem;
}
.container {
    display: flex;
    justify-content: space-between;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "launching pinkguy"
        "likenoother pinkguy"
        "lines pinkguy"
        "button pinkguy";
}
.pinkguy {
    grid-area: pinkguy;
    background-color: white;
}
.launching {
    grid-area: launching;
    margin-top: 7rem;
}
.likenoother {
    grid-area: likenoother;
    background-color: white;
    font-size: 5rem;
    font-weight: 200;
}
.lines {
    grid-area: lines;
    background-color: white;
    font-size: 1.5rem;
}
.button {
    grid-area: button;
}
.buttonstyle {
    border-radius: 6.25rem;
    border: 0.8rem;
    background-color: white;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    padding: 2rem 4rem;
    border: solid 0.4rem transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(218, 22, 22, 0)), linear-gradient(101deg, #c1017b, rgb(249, 8, 120), #f2670b, orange, rgb(100, 128, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0.8rem 62rem 0.4rem #fff inset;
}
.earlybirds {
    position: relative;
}
.earlybirdstext {
    position: absolute;
    top: 5rem;
    left: 3rem;
}
.orangestyletitle {
    font-size: 2.5rem;
    color: black;
}
.orangestyletext {
    font-size: 1.5rem;
    color:black;
}
.logos {
    display: flex;
    justify-content:left;
    margin-top: 5rem;
}
 .logomargin:not(:last-child) {
    margin-right: 6rem;
}
.superraretitle {
    font-size: 2.5rem;
    color: black;
    margin-top: 8rem;
}
.superraretext {
    font-size: 1.5rem;
    color: #555555;
    margin-bottom: 4rem;
}
.superraretext a {
    font-size: 1.5rem;
    color: #555555;
    font-weight: bold;
}
.nftcards {
    display: flex;
    justify-content: space-between;
}
.promocontainer {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
    background: white;
}
.promocontainer .card {
    position: relative;
    width: 18rem;
    height: 26.5rem;
    background: rgb(227, 224, 224);
    border-radius: 1rem;
    overflow: hidden;
}
.promocontainer .card:not(:last-child) {
    margin-right: 2.5rem;
}
.ETH {
    display: flex;
    justify-content: space-between;
}
.contentbox {
    display: flex;
    justify-content: space-between;
}
.gloop {
    color: rgb(234, 157, 14);
    font-size: 0.8rem;
}
.purple {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}
.number {
    color: grey;
    font-size: 1.3rem;
}
.crypto {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}
.bid {
    color: grey;
}
.day {
    color: grey;
    font-size: 1.3rem;
}
.table {
padding-right: 0.5rem;
padding-left: 0.5rem;
width: 80rem;
line-height: 0rem;
}
.box {
    margin-top: 9rem;
    border-bottom: 0.2rem solid #EEEEEE;
    padding-bottom: 0rem;
    border-top: 0.2rem solid #EEEEEE;
}
.upsell {
    margin-top: 3.3rem;
    margin-left: 15rem;
    height: 90%;
}
.likenootherupsell {
    grid-area: likenoother;
    background-color: white;
    font-size: 4rem;
    font-weight: 200;
}
.copyright {
    display: flex;
    justify-content: space-between;    
}
.footertables {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}
.copyrightstyle {
    color: #999;
    font-size: 1rem;
    margin-top: 6rem;;
}
.exclusivestyle {
    color: #555555;
    font-size: 1rem;
}
.social {
    display: flex;
    justify-content: left;
}
.social img {
    margin-right: 1rem;
    margin-top: 0.8rem;
}
.footertable {
    color:#555555;
    text-align: left;
    margin-right: 4rem;
}
.footertable a {
    text-decoration: none;
    color:#555555
}
.footertable tr > * + * {
    padding-left: 4rem;
}
.footertable th {
    padding-bottom: 1rem;
}
.footertable td {
    padding-bottom: 0.5rem;
}
@media only screen and (max-width: 40rem) {
    header nav {
        display: none;
        }
}