.page {
    background-color: white;
    font-family: "inter";
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 4.3rem;
}
header {
    width: 80rem;
    height: 2.25rem;
}
header img {
    size: 3rem;
    padding: 0.125rem 0rem;
}
header nav a {
    text-decoration: none;
    color: #555555;
    padding-top: 0.6rem;
    padding-bottom: 0.31rem;
    font-size: 1.25rem;
    font-style: normal;
}
header nav a:not(:last-child) {
    margin-right: 1rem;
}
.container {
    display: flex;
    justify-content: space-between;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "launching pinkguy"
        "likenoother pinkguy"
        "lines pinkguy"
        "button pinkguy";
}
.pinkguy {
    grid-area: pinkguy;
    height: auto;
}
.greenlady {
    grid-area: pinkguy;
    height: auto;
}
.launching {
    grid-area: launching;
    margin-top: 9rem;
}
.likenoother {
    grid-area: likenoother;
    font-size: 5.5rem;
    font-weight: 900;
}
.lines {
    grid-area: lines;
    font-size: 1.5rem;
}
.button {
    grid-area: button;
}
.buttonstyle {
    border-radius: 6.25rem;
    border: 0.8rem;
    background-color: white;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    padding: 2rem 4rem;
    border: solid 0.4rem transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(218, 22, 22, 0)), linear-gradient(101deg, #c1017b, rgb(249, 8, 120), #f2670b, orange, rgb(100, 128, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0.8rem 62rem 0.4rem #fff inset;
}
.earlybirds {
    position: relative;
}
.earlybirdstext {
    position: absolute;
    top: 5rem;
    left: 3rem;
}
.orangestyletitle {
    font-size: 2.5rem;
    color: #111;
}
.orangestyletext {
    font-size: 1.5rem;
    color: #111;
}
.logos {
    display: flex;
    justify-content:left;
    margin-top: 5rem;
}
.logomargin:not(:last-child) {
    margin-right: 6rem;
}
.superraretitle {
    font-size: 2.5rem;
    color: black;
    margin-top: 8rem;
}
.superraretext {
    font-size: 1.5rem;
    color: #555555;
    margin-bottom: 4rem;
}
.superraretext a {
    font-size: 1.5rem;
    color: #555555;
    font-weight: bold;
}
.nftcards {
    display: flex;
    justify-content: space-between;
}
.promocontainer {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
}
.promocontainer .card {
    position: relative;
    width: 18rem;
    height: 26.5rem;
    background: rgb(227, 224, 224);
    border-radius: 1rem;
    overflow: visible;
}
.promocontainer .card:not(:last-child) {
    margin-right: 2.5rem;
}
.ETH {
    display: flex;
    justify-content: space-between;
}
.contentbox {
    display: flex;
    justify-content: space-between;
}
.gloop {
    color: rgb(234, 157, 14);
    font-size: 0.8rem;
}
.purple {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}
.number {
    color: grey;
    font-size: 1.3rem;
}
.crypto {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}
.bid {
    color: grey;
}
.day {
    color: grey;
    font-size: 1.3rem;
}
.table {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    width: 80rem;
    line-height: 0rem;
}
.box {
    margin-top: 9rem;
    border-bottom: 0.2rem solid #EEEEEE;
    padding-bottom: 0rem;
    border-top: 0.2rem solid #EEEEEE;
}
.upsell {
    margin-top: 3.3rem;
    margin-left: 15rem;
    height: 90%;
}
.likenootherupsell {
    grid-area: likenoother;
    font-size: 4rem;
    font-weight: 200;
}
.copyright {
    display: flex;
    justify-content: space-between;    
}
.copyrightstyle {
    color: #999;
    font-size: 1rem;
    margin-top: 6rem;;
}
.exclusivestyle {
    color: #555555;
    font-size: 1rem;
}
.social {
    display: flex;
    justify-content: left;
}
.social img {
    margin-right: 1rem;
    margin-top: 0.8rem;
}
.footertables {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}
.footertable {
    color:#555555;
    text-align: left;
    margin-right: 4rem;
}
.footertable a {
    text-decoration: none;
    color:#555555
}
.footertable tr > * + * {
    padding-left: 4rem;
}
.footertable th {
    padding-bottom: 1rem;
}
.footertable td {
    padding-bottom: 0.5rem;
}
.mobileshow {
    display: none;
}
.mobilelogos {
    display: none;
}
.mobilefooter {
    display: none;
}
.mobilefootertable {
    display: none;
}
.mobilecopyright {
    display: none;
}
@media only screen and (max-width: 700px) {
    header nav {
        display: none;
        }
    .mobileshow {
        display: inline-flex;
        margin-left: 13rem;
    }
    .page {
        background-color: white;
        font-family: "inter";
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }
    .container {
        display: inline-block;
        position: relative;
        width: 100%;
        max-height: 2.25rem;
    }
    header img {
        max-height: 2.15rem;
        max-width: auto;
    }
    .hero {
        display: grid;
        position: relative;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .mobilecontainer {
        background-color: white;
        max-width: 30rem;
    }
    .button {
        grid-area: button;
    }
    .buttonstyle {
        border-radius: 6.25rem;
        border: 0.8rem;
        background-color: white;
        text-align: center;
        display: inline-block;
        font-size: 1.25rem;
        padding: 1rem 2.5rem;
        border: solid 0.3rem transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(218, 22, 22, 0)), linear-gradient(101deg, #c1017b, rgb(249, 8, 120), #f2670b, orange, rgb(100, 128, 0));
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 0.8rem 7rem 0.4rem #fff inset;
    }
    .hero {
        display: grid;
        grid-template-columns: 18rem 11rem;
        grid-template-rows: 4rem 9rem 7rem 6rem;
        grid-template-areas:
            "launching pinkguy"
            "likenoother pinkguy"
            "lines pinkguy"
            "button pinkguy";
    }
    .greenlady {
        grid-area: pinkguy;
    }
    .greenlady img {
        max-width: 10rem;
        margin-left: 1rem;
        margin-top: 5rem;
    }
    .pinkguy img {
        max-width: 28rem;
        margin-left: -4rem;
        margin-top: -3rem;
    }
    .launching {
        grid-area: launching;
        font-size: 1rem;
        margin-top: 2rem;
    }
    .likenoother {
        grid-area: likenoother;
        font-size: 3rem;
        font-weight: 900;
    }
    .lines {
        grid-area: lines;
        font-size: 1.25rem;
    }
    .earlybirds {
        position: relative;
        min-width: 20rem;
    }
    .orangestyletext {
        font-size: 1.25rem;
        color: #111;
    }
    .orangestyletitle {
        font-size: 2.2rem;
        color: #111;
        top: 5.5rem;
        left: 2.5rem;
    }
    .earlybirdstext {
        position: absolute;
    }
    .logos {
        display: none;
    }
    .mobilelogos {
        display: grid;
        position: relative;
        min-width: 7rem;
        margin-top: 3rem;
        width: 100%;
    }
    .mobilelogos tr > * + * {
        padding-left: 3rem;
        padding-bottom: 1rem;
    }
    .superraretitle {
        font-size: 2.5rem;
        color: black;
        margin-top: 3rem;
    }
    .superraretext {
        font-size: 1.25rem;
        color: #555555;
        margin-bottom: 3.85rem;
    }
    .superraretext a {
        font-size: 1.25rem;
        color: #555555;
        font-weight: bold;
    }
    .promocontainer .card {
        position: relative;
        width: 18rem;
        height: 26.5rem;
        background: rgb(227, 224, 224);
        border-radius: 1rem;
        overflow: visible;
    }
    .mobilegreenlady {
        grid-area: pinkguy;
    }
    .box {
        margin-top: 6rem;
        border-bottom: 0.15rem solid #EEEEEE;
        padding-bottom: 0rem;
        border-top: 0.15rem solid #EEEEEE;
    }
    .mobilegreenlady img {
        max-width: 10rem;
        margin-left: 1rem;
        margin-top: 5rem;
    }
    .likenootherupsell {
        grid-area: likenoother;
        font-size: 3rem;
        font-weight: 900;
    }    
    .footertables {
        display: none;
    }
    .mobilefooter {
        display: flex;
        margin-top: 2rem;
    }
    .mobilefooter p {
        font-size: 1.25rem;
    }
    .mobilefootertable {
        display: grid;
        align-items: left;
        justify-items: left;
        margin-top: 1rem;
        color:#555555;
    }
    .mobilefootertable a {
        text-decoration: none;
        color:#555555;
        font-size: 1.25rem;
    }
    .mobileth {
        padding-bottom: 0.8rem;
        padding-top: 2rem;
    }
    .mobilefootertable th {
        padding-bottom: 1rem;
        min-width: 8rem;
    }
    .mobilefootertable td {
        min-width: 8rem;
    }
    .copyright {
        display: none;
    }
    .mobilecopyright {
        display: flex;
    }
}